.App {
  height: 100vh;
  width: 100vw;
}

.Home {
  height: 100vh;
  width: 100vw;
  background-color: grey;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.appHome {
  height: 100%;
  width: 100%;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  background-color: #ff6f6c;
}

.appAbout {
  height: 100%;
  width: 100%;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  background-color: #6cf3ff;
}

.appProject {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  height: 100%;
  width: 100%;
  background-color: #b1ff6c;
}
